/* Constant styles  */
@font-face {
  font-family: coonr;
  src: url("../fonts/CoconNextArabic-Regular.ttf");
}
@font-face {
  font-family: coonl;
  src: url("../fonts/Cocon-Next-Arabic-Light.otf");
}
@font-face {
  font-family: coonb;
  src: url("../fonts/CoconNextArabic-Bold.ttf");
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  transition: all 0.4s ease-in;
  font-family: coonr;
  direction: rtl;
}

body {
  font-family: coonr;
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* // Constant Styles */
ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */
.btn-style {
  background-color: #008da7;
  padding: 21px 35px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  border: 1px solid #008da7;
  border-radius: 37px;
  text-align: center;
  width: 200px;
  max-width: 100%;
}
.btn-style:hover {
  color: #008da7;
  background-color: #fff;
  border-color: #fff;
  border-color: #008da7;
}

.btn-style-rounded {
  background-color: #008da7;
  padding: 18px 47px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 38px;
  text-align: center;
  border: 1px solid #008da7;
}
.btn-style-rounded:hover {
  color: #008da7;
  background-color: #fff;
  border-color: #fff;
}

.card-img {
  height: 100vh;
  position: relative;
}
.card-img .img-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img .img-parent img,
.card-img .img-parent video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.section_header {
  margin: 20px 0;
}
.section_header h5 {
  font-size: 2rem;
}

.personal-img {
  position: relative;
  margin-bottom: 20px;
}
.personal-img .per {
  width: 165px;
  height: 165px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #f0f0f0;
}
.personal-img .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  cursor: pointer !important;
  position: absolute;
  right: 0;
  bottom: -10px;
}
.personal-img .btn {
  color: #008da7;
  cursor: pointer !important;
  text-align: right;
  padding: 0;
  font-size: 12px;
  background-color: #323e48;
  z-index: 9;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
}
.personal-img .btn i,
.personal-img .btn span {
  color: #fff;
}
.personal-img .btn i {
  margin-top: -3px;
  font-size: 1.2rem;
}
.personal-img .btn:disabled {
  display: none;
}
.personal-img .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.personal-img h5 {
  margin-top: 50px;
}

.side-active {
  height: 100vh;
  overflow: hidden;
}
.side-active .bg-side-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 4;
}

.splash-active {
  height: 100vh;
  overflow: hidden;
}

/* splash */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #008da7;
  z-index: 99;
}
.splash .wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.splash .circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.splash .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.splash .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.splash .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.splash .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.splash .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.splash .wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}

/* menu icon */
.menu_icon {
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #008da7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 9;
  display: none;
  align-items: center;
  /* Icon 1 */
}
.menu_icon #nav-icon1,
.menu_icon #nav-icon2,
.menu_icon #nav-icon3,
.menu_icon #nav-icon4 {
  width: 1.6rem;
  height: 0.7rem;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menu_icon #nav-icon1 span,
.menu_icon #nav-icon3 span,
.menu_icon #nav-icon4 span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
}
.menu_icon #nav-icon1 span:nth-child(1) {
  top: 0px;
}
.menu_icon #nav-icon1 span:nth-child(2) {
  top: 8px;
  left: unset;
  right: 0;
}
.menu_icon #nav-icon1.open span:nth-child(1) {
  top: 5px;
  transform: rotate(135deg);
  width: 100%;
}
.menu_icon #nav-icon1.open span:nth-child(2) {
  top: 5.5px;
  transform: rotate(-135deg);
}

/* side_nav */
.side-nav {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  width: 300px;
  max-width: 100%;
  margin: auto;
  position: fixed;
  box-shadow: 0 7px 19px rgba(0, 0, 0, 0.13);
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  right: -100%;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow: auto;
}
.side-nav .side-wrapper {
  height: 70vh;
}
.side-nav .close-nav {
  position: absolute;
  top: 40px;
  right: 10px;
}
.side-nav .logo {
  text-align: center;
  margin-bottom: 30px;
}
.side-nav .side-links {
  height: 100%;
  overflow: auto;
}
.side-nav .side-links ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.side-nav .side-links ul li a {
  color: #000;
  display: block;
  padding: 10px 5px;
  font-size: 1rem;
}
.side-nav .side-links ul li.active {
  background-color: #008da7;
}
.side-nav .side-links ul li.active a {
  color: #fff;
}

.side-nav-open {
  right: 0;
}

.nice-select {
  float: none !important;
  background-color: transparent;
}

.splashscreen-none {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 36px;
}
.section-header h5 {
  font-size: 1.5rem;
  color: #000;
}
.section-header a {
  color: #008da7;
  font-size: 1rem;
}

.slick-arrow {
  z-index: 5;
  bottom: 50px;
  width: 42px;
  height: 37px;
  display: flex;
  align-items: center;
  background-color: #008da7;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 7px;
  top: -25px;
}
.slick-arrow::before {
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.slick-arrow.slick-next {
  transform: translate(0, -30%);
  left: 20px;
}
.slick-arrow.slick-next::before {
  content: "\f105";
}
.slick-arrow.slick-prev {
  transform: translate(0, -30%);
  left: -30px;
}
.slick-arrow.slick-prev::before {
  content: "\f104";
}
.slick-arrow:hover {
  background-color: #008da7;
}
.slick-arrow:hover::before {
  color: #fff;
}
.slick-arrow:focus {
  background-color: #008da7;
}
.slick-arrow:focus::before {
  color: #fff;
}

#audio {
  display: block;
}

.splach {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008da7;
  min-height: 100vh;
}
.splach .book {
  --color: #fff;
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 32px 0 0 0;
  zoom: 1.5;
}
.splach .book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}
.splach .book .inner .left,
.splach .book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}
.splach .book .inner .left:before,
.splach .book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.splach .book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}
.splach .book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}
.splach .book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.splach .book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.splach .book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.splach .book ul li:nth-child(0) {
  animation-name: page-0;
}
.splach .book ul li:nth-child(1) {
  animation-name: page-1;
}
.splach .book ul li:nth-child(2) {
  animation-name: page-2;
}
.splach .book ul li:nth-child(3) {
  animation-name: page-3;
}
.splach .book ul li:nth-child(4) {
  animation-name: page-4;
}
.splach .book ul li:nth-child(5) {
  animation-name: page-5;
}
.splach .book ul li:nth-child(6) {
  animation-name: page-6;
}
.splach .book ul li:nth-child(7) {
  animation-name: page-7;
}
.splach .book ul li:nth-child(8) {
  animation-name: page-8;
}
.splach .book ul li:nth-child(9) {
  animation-name: page-9;
}
.splach .book ul li:nth-child(10) {
  animation-name: page-10;
}
.splach .book ul li:nth-child(11) {
  animation-name: page-11;
}
.splach .book ul li:nth-child(12) {
  animation-name: page-12;
}
.splach .book ul li:nth-child(13) {
  animation-name: page-13;
}
.splach .book ul li:nth-child(14) {
  animation-name: page-14;
}
.splach .book ul li:nth-child(15) {
  animation-name: page-15;
}
.splach .book ul li:nth-child(16) {
  animation-name: page-16;
}
.splach .book ul li:nth-child(17) {
  animation-name: page-17;
}
.splach .book ul li:nth-child(18) {
  animation-name: page-18;
}
@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%, 54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%, 55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%, 57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%, 59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%, 61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%, 63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%, 65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%, 67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%, 68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%, 70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%, 72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%, 74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%, 76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%, 78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%, 80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%, 81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%, 83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%, 85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%, 87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(-90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%, 59.99% {
    transform-origin: 30px 2px;
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

/* ================================================================ */
.top-header {
  position: relative;
  background-image: url("../images/topheader.webp");
  padding: 20px 0;
}
.top-header:after {
  content: "";
  position: absolute;
  background-color: rgba(202, 157, 84, 0.21);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-header #today {
  font-size: 1.3rem;
  font-family: coonb;
  color: #000;
  position: relative;
  z-index: 3;
}
.top-header .search-social {
  position: relative;
  z-index: 3;
}
.top-header .search-social .search {
  width: 50%;
  height: 64px;
  margin-left: 25px;
  position: relative;
}
.top-header .search-social .search img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 23px;
}
.top-header .search-social .search .form-control {
  background-color: #f0f0f0;
  height: 100%;
  border: 1px solid #ca9d54;
  padding-right: 60px;
}
.top-header .search-social .social li {
  margin-left: 10px;
}

/* ================================================================ */
.middle-header {
  text-align: center;
  padding: 17px 0;
  position: relative;
}
.middle-header .right-corner-img {
  position: absolute;
  right: 0;
  bottom: -5px;
}

/* ================================================================ */
.header-navbar {
  min-height: calc(100vh - 260px);
  height: auto;
  background-image: url("../images/headerimg.webp");
  position: relative;
  padding: 27px 0 50px 0;
  overflow: hidden;
}
.header-navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 141, 167, 0.8));
}
.header-navbar .mynavbar {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.header-navbar .mynavbar li {
  margin-left: 31px;
}
.header-navbar .mynavbar li a {
  color: #fff;
  font-size: 1.2rem;
}
.header-navbar .header-contetn {
  min-height: calc(100vh - 361px);
  display: flex;
  align-items: center;
}
.header-navbar .contetn-par {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-navbar .contetn-par p {
  color: #fff;
  font-size: 1.3rem;
  font-family: coonb;
  line-height: 40px;
}
.header-navbar .contetn-par a {
  background-color: #a36500;
  width: 200px;
  max-width: 100%;
  border-color: #a36500;
}
.header-navbar .contetn-par,
.header-navbar .header-img {
  position: relative;
  z-index: 1;
}
.header-navbar .header-img {
  text-align: left;
}

/* ================================================================ */
.latest-news-slider {
  background-color: #fff3de;
  padding: 30px 0;
}
.latest-news-slider .latest-head {
  position: relative;
}
.latest-news-slider .latest-head::before {
  position: absolute;
  content: "";
  width: 1.5px;
  height: 100%;
  background-color: #a36500;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
.latest-news-slider .latest-head h5 {
  color: #a36500;
  margin: 0;
}
.latest-news-slider .latest-news-slider-wrapper .slider-item {
  position: relative;
}
.latest-news-slider .latest-news-slider-wrapper .slider-item::before {
  position: absolute;
  content: "";
  width: 1.5px;
  height: 30px;
  background-color: #000000;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
.latest-news-slider .latest-news-slider-wrapper h5 {
  text-align: center;
  margin: 0;
}
.latest-news-slider .latest-news-slider-wrapper h5 a {
  color: #000;
  font-size: 1rem;
}

.box-wrapper {
  border: 1px solid rgba(112, 112, 112, 0.3);
  padding: 30px 46px 30px 46px;
}
.box-wrapper .box-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-wrapper .box-header h5 {
  font-size: 1.8rem;
  color: #008da7;
  font-family: coonb;
  margin: 0;
  margin: 0 10px;
}

.site-news {
  margin: 13px 0 32px 0;
  position: relative;
}
.site-news::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff3de;
}
.site-news .box-wrapper {
  border: 1px solid rgba(112, 112, 112, 0.3);
  padding: 30px 46px 30px 46px;
}
.site-news .box-wrapper::after {
  position: absolute;
  top: 0;
  background-color: #fff3de;
}
.site-news .site-news-header {
  position: relative;
  z-index: 1;
}
.site-news .site-news-header h5 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 42px;
}
.site-news .site-news-header h6 {
  color: #a36500;
  font-family: coonb;
}
.site-news .site-news-header p {
  line-height: 35px;
}

.site-news-card {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  height: 357px;
  position: relative;
  z-index: 1;
}
.site-news-card .card-img {
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.site-news-card .card-img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.site-news-card .card-body {
  padding: 17px;
}
.site-news-card .card-body h5 {
  color: #a36500;
  font-family: coonb;
}
.site-news-card .card-body .btn-style {
  background-color: #a36500;
  width: 116px;
  padding: 10px;
  border-color: #a36500;
}

.site-news-cards .first-card {
  margin-bottom: 10px;
}
.site-news-cards .first-card .card-img {
  height: 120px !important;
}
.site-news-cards .first-card .site-news-card,
.site-news-cards .second-card .site-news-card {
  height: 174.5px !important;
}
.site-news-cards .first-card .site-news-card .card-body,
.site-news-cards .second-card .site-news-card .card-body {
  padding: 10px;
}
.site-news-cards .first-card .site-news-card .card-body .btn-style,
.site-news-cards .second-card .site-news-card .card-body .btn-style {
  width: 100px;
}
.site-news-cards .second-card .card-img {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  width: 50%;
}
.site-news-cards .second-card .card-img img {
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
}
.site-news-cards .second-card .card-img .card-body {
  width: 50%;
}

.read-more {
  color: #ca9d54;
  display: flex;
  align-items: center;
}
.read-more .line {
  width: 45.5px;
  height: 1px;
  display: inline-block;
  background-color: #ca9d54;
  margin-right: 5px;
  margin-top: 5px;
}

.new-articals {
  background-image: url("../images/blogs-index-bg.png");
  overflow: hidden;
}

.articals-cards {
  margin-top: 70px;
}

.artical-card {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  min-height: 500px;
  margin-bottom: 35px;
}
.artical-card .card-img {
  height: 231px;
}
.artical-card .card-img .date {
  position: absolute;
  bottom: -25px;
  left: 10px;
  background-color: #ca9d54;
  color: #fff;
  padding: 9px;
  border: 4px solid #fff;
}
.artical-card .card-img .date h5 {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}
.artical-card .card-body {
  padding: 22px 10px 22px 20px;
}
.artical-card .card-body h5 {
  color: #000;
  font-family: coonb;
  font-size: 1.5rem;
}
.artical-card .card-body p {
  line-height: 30px;
  font-family: coonl;
  -webkit-line-clamp: 5 !important;
}
.artical-card .card-body a {
  color: #ca9d54;
  display: flex;
  align-items: center;
}
.artical-card .card-body a .line {
  width: 45.5px;
  height: 1px;
  display: inline-block;
  background-color: #ca9d54;
  margin-right: 5px;
  margin-top: 5px;
}

.second-artical .box-header {
  margin-bottom: 50px;
}

.custom-articals .artical-card {
  min-height: 560px !important;
}

/* ================================================================ */
.tow-side-sections {
  margin: 26px 0;
}

.emmam-photo {
  display: block;
}
.emmam-photo .card-img {
  height: 385px;
}

.quraan-explain .slider-item {
  direction: rtl;
}
.quraan-explain .slider-item h5 {
  margin-top: 35px;
  color: #a36500;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.quraan-explain .slider-item p {
  font-size: 1.2rem;
  line-height: 30px;
  -webkit-line-clamp: 2 !important;
}

.choosen-videos .chosen-card {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.choosen-videos .chosen-card .card-img {
  height: 185px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choosen-videos .chosen-card .card-img img {
  border-radius: 15px;
}
.choosen-videos .chosen-card .card-img .play-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.choosen-videos .chosen-card .card-img .play-btn i {
  color: #008da7;
}
.choosen-videos .chosen-card .card-body {
  width: 50%;
}

/* ================================================================ */
.new-audio-video .box-wrapper,
.chosen-subject .box-wrapper,
.famous-world .box-wrapper {
  border: 0;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.new-audio-video .box-wrapper .box-header,
.chosen-subject .box-wrapper .box-header,
.famous-world .box-wrapper .box-header {
  margin-bottom: 30px;
}
.new-audio-video .box-wrapper .box-header h5,
.chosen-subject .box-wrapper .box-header h5,
.famous-world .box-wrapper .box-header h5 {
  font-size: 1.4rem;
}
.new-audio-video .box-wrapper .box-header img,
.chosen-subject .box-wrapper .box-header img,
.famous-world .box-wrapper .box-header img {
  width: 50px;
}

.new-audio {
  background-image: url("../images/audio-bg.png");
}
.new-audio ul {
  margin-bottom: 0;
}
.new-audio ul li {
  position: relative;
  padding-right: 20px;
  display: flex;
  padding-bottom: 50px;
  margin-top: 15px;
}
.new-audio ul li::before {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../images/dot.svg");
}
.new-audio ul li::after {
  content: url("../images/seprator.svg");
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.new-audio ul li:last-child:after {
  display: none;
  content: "";
}
.new-audio ul li a {
  width: 60%;
}
.new-audio ul li p {
  font-size: 1rem;
  margin-bottom: 0;
}
.new-audio ul li .option {
  display: flex;
  width: 40%;
  height: 30px;
  align-items: center;
  background-color: #fff3de;
  border-radius: 5px;
}
.new-audio ul li .option a {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  justify-content: center;
}
.new-audio ul li .option a span {
  font-size: 0.8rem;
  font-family: coonl;
  color: #000;
  margin-right: 5px;
}
.new-audio ul li .option a::after {
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000;
  transform: translate(0, -50%);
}
.new-audio ul li .option a:last-child::after {
  content: "";
  display: none;
}

.new-video {
  background-image: url("../images/video-bg.png");
}

.chosen-subject {
  background-image: unset;
  border: 1px solid rgba(112, 112, 112, 0.3);
}
.chosen-subject li {
  padding-bottom: 0 !important;
  margin-bottom: 25px !important;
  margin-top: 0 !important;
}
.chosen-subject li::after {
  content: "" !important;
}
.chosen-subject li a {
  width: 90% !important;
}
.chosen-subject li p {
  color: #a36500;
}

.famous-world {
  border: 1px solid rgba(112, 112, 112, 0.3);
}
.famous-world .famous-body {
  padding: 10px;
}
.famous-world h5 {
  color: #a36500;
  font-size: 1.5rem;
  margin: 14px 0;
}
.famous-world p {
  font-size: 1.1rem;
  font-family: coonl;
  line-height: 30px;
}

.subscription .form-control {
  height: 61px;
  border-radius: 31px;
  border: 1px solid #008da7;
  margin-top: 10px;
}

/* ================================================================ */
.fwaed-3elmya .box-wrapper {
  background-image: url("../images/fwaed.webp");
  border: 0;
  padding: 0;
  padding: 20px 10px 20px 10px;
  position: relative;
}
.fwaed-3elmya .box-wrapper .box-header {
  position: relative;
  z-index: 1;
}
.fwaed-3elmya .box-wrapper .box-header img {
  width: 50px !important;
}
.fwaed-3elmya .box-wrapper .box-header h5 {
  color: #fff;
}
.fwaed-3elmya .box-wrapper li {
  margin-top: 40px;
  position: relative;
  padding-right: 30px;
  z-index: 1;
}
.fwaed-3elmya .box-wrapper li h5,
.fwaed-3elmya .box-wrapper li p {
  color: #fff;
}
.fwaed-3elmya .box-wrapper li h5 {
  color: #a36500;
}
.fwaed-3elmya .box-wrapper li::before {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../images/dot.svg");
}
.fwaed-3elmya .box-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(253, 253, 253, 0), rgba(240, 194, 119, 0.31), rgba(36, 22, 0, 0.85));
}

/* ================================================================ */
.guest-site {
  background-image: unset;
}
.guest-site .box-header {
  margin-bottom: 30px;
}
.guest-site .box-wrapper {
  padding: 20px 10px;
}
.guest-site li {
  padding-right: 0 !important;
}
.guest-site li::after {
  content: url("../images/bottomline2.svg") !important;
  overflow: hidden;
}
.guest-site li h5 {
  color: #a36500;
}
.guest-site li::before {
  content: "" !important;
}

.box-cooments li {
  padding-right: 0 !important;
}
.box-cooments li a {
  width: 90% !important;
}
.box-cooments li::after {
  content: url("../images/seprator.svg") !important;
  overflow: hidden;
}
.box-cooments .btn-style {
  width: 116px;
  padding: 10px;
}

.matwyat {
  background-image: url("../images/matwya-bg.png");
  overflow: hidden;
}
.matwyat .matwyat-cards {
  padding: 150px 0;
  padding-bottom: 50px;
}
.matwyat .box-wrapper {
  border: 0;
}
.matwya-card {
  display: block;
  margin-bottom: 200px;
}
.matwya-card .card-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: auto;
}
.matwya-card .card-img img {
  border-radius: 50%;
}
.matwya-card .card-img::after {
  content: url("../images/matafter.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ================================================================ */
.upper-footer {
  padding: 50px 0;
  position: relative;
}
.upper-footer .upper-footer-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.upper-footer .logo a {
  display: block;
}

/* ================================================================ */
.footer {
  background-image: url("../images/footerimg.jpg");
  position: relative;
  padding: 57px 0;
  padding-right: 100px;
  overflow: hidden;
}
.footer .lamp {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 1;
}
.footer .lamp2 {
  right: unset;
  left: 0;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #190f00, rgba(163, 101, 0, 0.71), #190f00);
}
.footer .footer-contet {
  position: relative;
  z-index: 2;
}
.footer .footer-contet h5 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 21px;
}
.footer .footer-contet ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-contet ul li {
  margin-bottom: 12px;
  width: 50%;
}
.footer .footer-contet ul li a {
  color: #fff;
  font-size: 1rem;
  font-family: coonl;
}
.footer .footer-contet2 ul li {
  width: 100%;
}
.footer .social {
  position: relative;
  z-index: 1;
}
.footer .social h5 {
  color: #fff;
  margin-bottom: 10px;
}
.footer .social li {
  margin: 0 5px;
}

/* ================================================================ */
.cv-page .box-wrapper {
  padding: 20px 15px 20px 15px !important;
}

.cv-content {
  background-image: url("../images/cv-content-bg.png");
  background-size: contain !important;
  overflow: hidden;
}
.cv-content .beginig h6 {
  color: #e80000;
  font-size: 1.1rem;
  margin-top: 30px;
  text-align: center;
}
.cv-content .cont {
  margin-top: 50px;
}
.cv-content .cont .box-header h5 {
  color: #e80000;
}
.cv-content .cont h5 {
  font-size: 1.5rem;
  font-family: coonb;
  color: #a36500;
}
.cv-content .cont p {
  font-size: 1rem;
  line-height: 30px;
  font-family: coonl;
}
.cv-content .cont .slug {
  color: #008da7;
  font-size: 0.95rem;
}
.cv-content .cont ul li {
  margin-bottom: 30px;
}
.cv-content .cont ul li span {
  color: #a36500;
}
.cv-content .custom-cont ul li {
  padding-right: 30px;
  position: relative;
}
.cv-content .custom-cont ul li::after {
  content: url("../images/dot2.svg");
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
}
.cv-content .custom-cont .day-cont p {
  margin-bottom: 0;
  color: #ca9d54;
  padding-right: 20px;
  position: relative;
}
.cv-content .custom-cont .day-cont p::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #a36500;
  border-radius: 50%;
}
.cv-content .custom-cont .custom-day-cont p::before {
  display: none;
}
.cv-content .finish {
  text-align: center;
  margin-bottom: 300px;
}
.cv-content .finish h5 {
  color: #008da7;
  font-size: 1.5rem;
}
.cv-content .contact-info {
  background: linear-gradient(to right, white, #ca9d54);
  padding: 90px 20px;
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 100px;
}
.cv-content .contact-info .corners img {
  position: absolute;
}
.cv-content .contact-info .corners .corner-top-left {
  top: -30px;
  left: -30px;
}
.cv-content .contact-info .corners .corner-top-right {
  top: -30px;
  right: -30px;
}
.cv-content .contact-info .corners .corner-bottom-left {
  bottom: -30px;
  left: -30px;
}
.cv-content .contact-info .corners .corner-bottom-right {
  bottom: -30px;
  right: -30px;
}
.cv-content .contact-info .lamp {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cv-content .contact-info h5 {
  margin-bottom: 50px;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 2;
}
.cv-content .contact-info li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.cv-content .contact-info li .info i,
.cv-content .contact-info li .info span {
  color: #fff;
}
.cv-content .contact-info li .info i {
  margin-left: 4px;
}
.cv-content .contact-info li .answer a {
  color: #008da7;
}

/* ================================================================ */
.sounds-page {
  margin-bottom: 160px !important;
}
.sounds-page .box-wrapper {
  padding: 29px 40px 40px 40px;
  background-image: url("../images/soundpage.png");
  border: 0;
}
.sounds-page .sounds-content {
  margin-top: 50px;
}

.sound-card {
  position: relative;
}
.sound-card h5 {
  font-size: 1.1rem;
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  width: 60%;
}
.sound-card h5::before {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../images/dot.svg");
}
.sound-card ul li {
  margin-bottom: 15px;
}
.sound-card ul span {
  color: #a36500;
  margin-left: 20px;
}
.sound-card .card-body p {
  font-family: coonl;
}
.sound-card .option {
  background-color: #008da7;
  padding: 15px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.sound-card .option .op1 {
  padding: 0 10px;
  position: relative;
}
.sound-card .option .op1 span {
  color: #fff;
  margin-right: 5px;
}
.sound-card .option .op1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0.5px;
  height: 90%;
  transform: translate(0, -50%);
  background-color: #fff;
  left: 0;
}
.sound-card .option .op1:last-child::after {
  display: none;
}

.video-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 55px;
}
.video-card .card-img {
  width: 30%;
  height: 185px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-card .card-img img {
  border-radius: 15px;
}
.video-card .card-img a {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;
}
.video-card .card-img a i {
  color: #008da7;
}
.video-card .card-body {
  width: 70%;
}
.video-card .card-body p {
  -webkit-line-clamp: 3 !important;
  font-family: coonl;
  margin-top: 10px;
}
.video-card ul {
  margin-top: 25px;
}
.video-card ul li {
  margin-bottom: 15px;
}
.video-card ul span {
  color: #a36500;
  margin-left: 20px;
}

.famous-card .card-img {
  height: 271px;
}
.famous-card .read-more {
  color: #008da7;
}
.famous-card .read-more .line {
  background-color: #008da7;
}
.famous-card .card-body p {
  -webkit-line-clamp: 5 !important;
}

.book-card h5 {
  color: #008da7;
}

.fatawy-card .card-body {
  width: 100%;
}
.fatawy-card .card-body h5 {
  color: #008da7;
}

.artical-page .box-wrapper {
  padding: 29px 40px 40px 40px;
  background-image: url("../images/article-bg.png");
  border: 0;
}
.artical-page .artical-card {
  min-height: 397px;
}
.artical-page .artical-card .card-img {
  height: 150px;
}
.artical-page .artical-card .card-body h5 {
  font-size: 1.1rem;
  margin-top: 15px;
}
.artical-page .artical-card .card-body p {
  font-size: 1rem;
  line-height: 25px;
}

.pagination {
  margin-top: 180px;
  justify-content: flex-start;
  overflow: auto;
}
.pagination .page-item .page-link {
  margin: 0 10px;
  width: 43px;
  height: 43px;
  border-radius: 7px;
  border: 0.5px solid #008da7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a36500;
}
.pagination .page-item .page-link:hover {
  background-color: #fff3de;
  color: #008da7;
  border: 1px solid #fff3de;
}
.pagination .page-item .page-link.active {
  background-color: #fff3de !important;
  color: #008da7 !important;
  border: 1px solid #fff3de;
}
.pagination .page-item:first-child .page-link {
  background-color: #008da7;
  color: #fff;
}
.pagination .page-item:last-child .page-link {
  background-color: #008da7;
  color: #fff;
}

/* ================================================================ */
.filter {
  margin-top: 30px;
}
.filter .head {
  margin-top: 20px;
  margin-bottom: 30px;
}
.filter .head span {
  color: #008da7;
}
.filter .filter-contetn form {
  display: flex;
  align-items: center;
  overflow: auto;
  padding-bottom: 15px;
}
.filter .filter-contetn form .form-group {
  width: -moz-fit-content;
  width: fit-content;
}
.filter .filter-contetn label {
  position: relative;
}
.filter .filter-contetn label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.filter .filter-contetn .filter-card {
  background-color: #f3f3f3;
  border-radius: 18px;
  text-align: center;
  margin-left: 20px;
  min-width: 150px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.filter .filter-contetn .filter-card span {
  color: #000;
  padding: 5px;
  display: inline-block;
}
.filter .filter-contetn input[type=radio]:checked ~ .filter-card {
  background-color: rgba(0, 141, 167, 0.08);
}
.filter .filter-contetn input[type=radio]:checked ~ .filter-card span {
  color: #008da7;
}

/* ================================================================ */
.breadcrumb {
  margin-top: 50px;
}
.breadcrumb ul {
  flex-wrap: wrap;
}
.breadcrumb li {
  padding: 0 10px;
  position: relative;
}
.breadcrumb li a {
  color: #a36500;
}
.breadcrumb li::after {
  content: "/";
  position: absolute;
  left: 0;
  color: #a36500;
}
.breadcrumb li:last-child a {
  color: #008da7;
}
.breadcrumb li:last-child::after {
  content: "";
}

/* ================================================================ */
.artical-details-content .advanges span {
  width: -moz-max-content;
  width: max-content;
  display: block;
  flex: none;
  margin-left: 5px;
  color: #008da7;
}

.reviews {
  margin-top: 40px;
}
.reviews li {
  margin-bottom: 15px;
}
.reviews li p {
  color: #a36500;
  font-family: coonl;
  font-size: 1rem;
}

.course-page {
  margin-bottom: 150px !important;
}

.course-content .filter {
  margin-bottom: 50px;
}

.course-detials-video .card-img {
  height: 359px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-detials-video .card-img img {
  border-radius: 15px;
}
.course-detials-video .card-img .play-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.course-detials-video .card-img .play-btn i {
  color: #008da7;
}

.contact-us {
  margin-top: 100px;
  background-color: #fff3de;
  padding: 30px;
}
.contact-us form {
  margin-top: 35px;
}
.contact-us .form-group {
  margin-bottom: 26px;
}
.contact-us .form-control {
  background-color: #fff;
  height: 55px;
  border-radius: 9px;
  border: 0.5px solid rgba(112, 112, 112, 0.37);
}
.contact-us textarea {
  height: 142px !important;
  resize: none;
}
.contact-us .btn-style {
  border-radius: 9px;
  width: 354px;
  max-width: 100%;
  margin: auto;
}

/* ================================================================ */
@media (max-width: 1400px) {
  .header-navbar .mynavbar li {
    margin-left: 25px;
  }
  .header-navbar .mynavbar li a {
    font-size: 1rem;
  }
  .latest-news-slider .latest-news-slider-wrapper h5 a {
    font-size: 0.9rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .upper-footer .upper-footer-img img {
    width: 250px;
  }
  .upper-footer .logo img {
    width: 600px;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .header-navbar .mynavbar {
    display: none;
  }
  .header-navbar .header-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    opacity: 0.3;
    z-index: 1;
  }
  .header-navbar .contetn-par {
    position: relative;
    z-index: 3;
  }
  .top-header {
    text-align: center;
  }
  .top-header #today {
    margin-bottom: 15px;
  }
  .top-header .search-social {
    justify-content: center;
  }
  .top-header .search-social .search {
    height: 50px;
  }
  .middle-header .logo img {
    width: 50%;
  }
  .middle-header .right-corner-img {
    left: 0;
    right: unset;
  }
  .middle-header .right-corner-img img {
    width: 150px;
  }
  .menu_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .site-news .site-news-header {
    margin-bottom: 20px;
  }
  .upper-footer .logo img {
    width: 400px;
  }
  .footer {
    padding-right: 0;
  }
  .new-audio ul li::after {
    width: 100%;
    left: unset;
    right: 0;
    transform: translate(0, 0);
  }
}
@media (max-width: 600px) {
  .upper-footer .upper-footer-img {
    opacity: 0.4;
  }
  .upper-footer .logo {
    position: relative;
    z-index: 5;
  }
  .new-audio ul li {
    flex-direction: column;
  }
  .new-audio ul li .option {
    position: unset;
    margin-top: 15px;
  }
  .new-audio ul li a {
    width: 90%;
  }
  .footer .lamp {
    opacity: 0.4;
  }
  .chosen-card {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .chosen-card .card-body {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .chosen-card .card-img {
    width: 100% !important;
  }
  .slick-arrow {
    top: 25px;
  }
  .quraan-explain .qura-card {
    margin-top: 60px;
  }
  .quraan-explain .box-header img {
    width: 50px;
  }
  .new-articals .box-wrapper,
  .site-news .box-wrapper {
    padding: 20px 15px 20px 15px;
  }
  .new-articals .box-header img,
  .site-news .box-header img {
    width: 50px;
  }
  .site-news .site-news-card {
    margin-bottom: 10px;
  }
  .latest-news-slider .latest-head {
    margin-bottom: 25px;
  }
  .latest-news-slider .latest-head::before {
    display: none;
  }
  .middle-header .logo img {
    width: 70%;
  }
  .middle-header .right-corner-img img {
    opacity: 0.2;
  }
  .top-header .search-social {
    flex-direction: column;
  }
  .top-header .search-social .search {
    width: 100%;
    margin: 0;
    margin-bottom: 10px !important;
  }
  .artical-page .box-wrapper {
    padding: 20px 15px 20px 15px;
  }
  .books-page .box-wrapper {
    padding: 20px 15px 20px 15px;
  }
  .famous-world-page .box-wrapper {
    padding: 20px 15px 20px 15px;
  }
  .videos-page .box-wrapper {
    padding: 20px 15px 20px 15px;
  }
  .book-card,
  .famous-card,
  .video-card {
    flex-direction: column;
  }
  .book-card .card-body,
  .book-card .card-img,
  .famous-card .card-body,
  .famous-card .card-img,
  .video-card .card-body,
  .video-card .card-img {
    width: 100%;
  }
  .book-card .card-body,
  .famous-card .card-body,
  .video-card .card-body {
    margin-top: 20px;
  }
  .sound-card h5 {
    width: 100%;
  }
  .sound-card .option {
    position: relative;
  }
  .cv-content .contact-info li {
    flex-direction: column;
  }
  .cv-content .contact-info li .info {
    margin-bottom: 20px;
  }
  .page-content .box-header img {
    width: 50px;
  }
  .video-card ul {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
.filter form::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 10px !important;
}

.filter form::-webkit-scrollbar {
  background-color: #f5f5f5;
  height: 4px !important;
  border-radius: 5px;
}

.filter form::-webkit-scrollbar-thumb {
  background-color: #008da7;
  border: 1px solid #008da7;
  border-radius: 5px;
}

input[type=email] {
  text-align: right;
}

/* ================================================================ */
/* Shared styles  */
.top-header, .header-navbar, .new-articals, .new-audio, .fwaed-3elmya .box-wrapper, .matwyat, .footer, .cv-content, .sounds-page .box-wrapper, .artical-page .box-wrapper {
  background-position: center;
  background-size: cover;
}

.slick-arrow::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.artical-card .card-body p, .quraan-explain .slider-item p, .video-card .card-body p, .famous-card .card-body p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=style.css.map */